//- index.pug
extends layout.pug

block title
  title b | Home

block content
  div(data-barba='container', data-barba-namespace='home')
    h1 Hello, World!
    h2 This is home
    img(src='./images/al-capone.jpg')/
    p Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
