//- index.pug
extends layout.pug

block title
  title b | Page

block content
  div(data-barba='container', data-barba-namespace='page')
    h1 It works
    h2 This is another page
    img(src='./images/charlin.jpg')/
    p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna.
