//- layout.pug
html
  head
    block title
      title barba.js starter kit
<% if (origin === 'cdn') { -%>
    script(src='https://unpkg.com/@barba/core@<%= version %>')
<% } -%>
  body
    block nav
      nav.nav
        ul
          li
            a(href='./index.html') Home
          li
            a(href='./page.html') Page
    main.main(data-barba='wrapper')
      block content
